@mixin mixin-background-class() {
    .bg-black {
        background-color: #000
    }

    .bg-white {
        background-color: #fff
    }

    .bg-transparent {
        background-color: transparent
    }

    .bg-primary {
        background-color: var(--primary)
    }

    @for $i from 1 through 20 {
        .bg-primary-#{$i} {
            background-color: var(--primary-#{$i})
        }
    }

    .bg-secondary {
        background-color: var(--secondary)
    }

    @for $i from 1 through 20 {
        .bg-secondary-#{$i} {
            background-color: var(--secondary-#{$i})
        }
    }

    .bg-mix {
        background-color: var(--mix)
    }

    @for $i from 1 through 40 {
        .bg-mix-#{$i} {
            background-color: var(--mix-#{$i})
        }
    }
}

@mixin mixin-background($breakpoint: null) {

    @each $name, $value in (none:0 0, auto:auto, cover:cover, contain:contain) {
        .bg-#{$name}#{$breakpoint} {
            background-size: #{$value}
        }
    }

    @each $name, $value in (norepeat:no-repeat, repeat-x:repeat-x, repeat-y:repeat-y, repeat-round:round, repeat-space:space) {
        .bg-#{$name}#{$breakpoint} {
            background-repeat: #{$value}
        }
    }

    @each $name, $value in (bottom:bottom, center:center, left:left, top:top, right:right, left-bottom:left bottom, left-top:left top, right-bottom:right bottom, right-top:right top) {
        .bg-#{$name}#{$breakpoint} {
            background-position: #{$value}
        }
    }

    @each $name, $value in (fixed:fixed, local:local, scroll:scroll) {
        .bg-#{$name}#{$breakpoint} {
            background-attachment: #{$value}
        }
    }

    @each $name, $value in (border:border-box, padding:padding-box, content:content-box) {
        .bg-#{$name}#{$breakpoint} {
            background-clip: #{$value}
        }
    }
}