@mixin mixin-border($breakpoint: null) {

    @each $value in (dashed, solid, dotted, double, hidden, none) {
        .b-#{$value}#{$breakpoint} {
            border-style: $value
        }
    }

    @for $i from 0 through 5 {
        .b-#{$i}#{$breakpoint} {
            border-width: #{$i}px;
        }
        .bt-#{$i}#{$breakpoint} {
            border-top-width: #{$i}px;
        }
        .br-#{$i}#{$breakpoint} {
            border-right-width: #{$i}px;
        }
        .bb-#{$i}#{$breakpoint} {
            border-bottom-width: #{$i}px;
        }
        .bl-#{$i}#{$breakpoint} {
            border-left-width: #{$i}px;
        }
    }

    .r-full#{$breakpoint} {
        border-radius: 60rem
    }

    $j: -1;
    @for $i from 0 through 40 {
        @if $i % 2 == 0 {
            $j: $j + 1;
            $val: (1 / 16) * $i;
            .r-#{$j}#{$breakpoint} {
                border-radius: #{$val}rem;
            }
        }
    }

    .b-transparent#{$breakpoint} {
        border-color: transparent
    }

    .b-mix#{$breakpoint} {
        border-color: var(--mix)
    }

    @for $i from 1 through 40 {
        .b-mix-#{$i}#{$breakpoint} {
            border-color: var(--mix-#{$i})
        }
    }

    .b-primary#{$breakpoint} {
        border-color: var(--primary)
    }

    @for $i from 1 through 20 {
        .b-primary-#{$i}#{$breakpoint} {
            border-color: var(--primary-#{$i})
        }
    }

    .b-secondary#{$breakpoint} {
        border-color: var(--secondary)
    }

    @for $i from 1 through 20 {
        .b-secondary-#{$i}#{$breakpoint} {
            border-color: var(--secondary-#{$i})
        }
    }
}