@mixin mixin-border($breakpoint: null) {

    @each $value in (dashed, solid, dotted, double, hidden, none) {
        .b-#{$value}#{$breakpoint} {
            border-style: $value
        }
    }

    @for $i from 0 through 5 {
        .b-#{$i}#{$breakpoint} {
            border-width: #{$i}px;
        }
    }

    .r-full#{$breakpoint} {
        border-radius: 60rem
    }

    @for $i from 0 through 10 {
        .r-#{$i}#{$breakpoint} {
            border-radius: #{$i}px;
        }
    }

    .b-transp#{$breakpoint} {
        border-color: transparent
    }

    .b-prim#{$breakpoint} {
        border-color: var(--prim)
    }

    .b-secd#{$breakpoint} {
        border-color: var(--secd)
    }

    [style*="--b#{$breakpoint}:"] {
        border: var(--b#{$breakpoint})
    }

    [style*="--bt#{$breakpoint}:"] {
        border-top: var(--bt#{$breakpoint})
    }

    [style*="--br#{$breakpoint}:"] {
        border-right: var(--br#{$breakpoint})
    }

    [style*="--bb#{$breakpoint}:"] {
        border-bottom: var(--bb#{$breakpoint})
    }

    [style*="--bl#{$breakpoint}:"] {
        border-left: var(--bl#{$breakpoint})
    }

    [style*="--bc#{$breakpoint}:"] {
        border-color: var(--bc#{$breakpoint})
    }

    [style*="--bc-hvr#{$breakpoint}:"]:hover,
    [style*="--bc-hvr#{$breakpoint}:"]:focus {
        border-color: var(--bc-hvr#{$breakpoint})
    }

    [style*="--bw#{$breakpoint}:"] {
        border-width: var(--bw#{$breakpoint})
    }

    [style*="--r#{$breakpoint}:"] {
        border-radius: var(--r#{$breakpoint})
    }

    [style*="--r-hvr#{$breakpoint}:"]:hover,
    [style*="--r-hvr#{$breakpoint}:"]:focus {
        border-radius: var(--r-hvr#{$breakpoint})
    }

    [style*="--rtl#{$breakpoint}:"] {
        border-top-left-radius: var(--rtl#{$breakpoint})
    }

    [style*="--rtr#{$breakpoint}:"] {
        border-top-right-radius: var(--rtr#{$breakpoint})
    }

    [style*="--rbl#{$breakpoint}:"] {
        border-bottom-left-radius: var(--rbl#{$breakpoint})
    }

    [style*="--rbr#{$breakpoint}:"] {
        border-bottom-right-radius: var(--rbr#{$breakpoint})
    }
}