@mixin mixin-color-class() {

    .mix {
        color: var(--mix)
    }

    @for $i from 1 through 40 {
        .mix-#{$i} {
            color: var(--mix-#{$i})
        }
    }

    .primary {
        color: var(--primary)
    }

    @for $i from 1 through 20 {
        .primary-#{$i} {
            color: var(--primary-#{$i})
        }
    }

    .secondary {
        color: var(--secondary)
    }

    @for $i from 1 through 20 {
        .secondary-#{$i} {
            color: var(--secondary-#{$i})
        }
    }
}