@mixin mixin-container-class() {

    .container {
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: auto;
        margin-left: auto;
    }

    .container-sm {
        max-width: 560px
    }

    .container-md {
        max-width: 768px
    }

    .container-lg {
        max-width: 1024px
    }

    .container-xl {
        max-width: 1280px
    }

    .container-2xl {
        max-width: 1440px
    }

    .container-3xl {
        max-width: 1680px
    }

    .container-fluid {
        max-width: 100%
    }

    @media (min-width: 0px) {
        .container-fluid, .container {
            --gutter: .25rem;
            --gutter-x: var(--gutter);
            --gutter-y: var(--gutter);
        }
    }

    @media (min-width: 768px) {
        .container-fluid, .container-3xl, .container-2xl, .container-xl, .container-lg, .container-md {
            --gutter: .5rem;
            --gutter-x: var(--gutter);
            --gutter-y: var(--gutter);
        }
    }

    @media (min-width: 1024px) {
        .container-fluid, .container-3xl, .container-2xl, .container-xl, .container-lg {
            --gutter: .75rem;
            --gutter-x: var(--gutter);
            --gutter-y: var(--gutter);
        }
    }

    @media (min-width: 1280px) {
        .container-fluid, .container-3xl, .container-2xl, .container-xl {
            --gutter: 1rem;
            --gutter-x: var(--gutter);
            --gutter-y: var(--gutter);
        }
    }
}