@mixin mixin-grid($breakpoint: null) {

    .grid#{$breakpoint}, .inline-grid#{$breakpoint} {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(12, 1fr);
    }

    @for $i from 1 through 12 {
        .grid-cols-#{$i}#{$breakpoint} {
            grid-template-columns: repeat($i, 1fr);
        }
    }

    @for $i from 1 through 6 {
        .grid-rows-#{$i}#{$breakpoint} {
            grid-template-rows: repeat($i, 1fr);
        }
    }

    @for $i from 1 through 7 {
        .row-start-#{$i}#{$breakpoint} {
            grid-row-start: $i;
        }

        .row-end-#{$i}#{$breakpoint} {
            grid-row-end: $i;
        }
    }

    .row-start-auto#{$breakpoint} {
        grid-row-start: auto;
    }

    .row-end-auto#{$breakpoint} {
        grid-row-end: auto;
    }

    .col-auto#{$breakpoint} {
        grid-column: auto;
    }

    .col-span-full#{$breakpoint} {
        grid-column: 1 / -1;
    }

    @for $i from 1 through 12 {
        .col-span-#{$i}#{$breakpoint} {
            grid-column: span $i;
        }
    }

    @for $i from 1 through 13 {
        .col-start-#{$i}#{$breakpoint} {
            grid-column-start: $i;
        }

        .col-end-#{$i}#{$breakpoint} {
            grid-column-end: $i;
        }
    }

    .col-start-auto#{$breakpoint} {
        grid-column-start: auto;
    }

    .col-end-auto#{$breakpoint} {
        grid-column-end: auto;
    }

    [style*="--gac#{$breakpoint}:"] {
        grid-auto-columns: var(--gac#{$breakpoint})
    }

    [style*="--gar#{$breakpoint}:"] {
        grid-auto-rows: var(--gar#{$breakpoint})
    }

    [style*="--gaf#{$breakpoint}:"] {
        grid-auto-flow: var(--gaf#{$breakpoint})
    }

    [style*="--gc#{$breakpoint}:"] {
        grid-column: var(--gc#{$breakpoint})
    }

    [style*="--gr#{$breakpoint}:"] {
        grid-row: var(--gr#{$breakpoint})
    }

    [style*="--gtc#{$breakpoint}:"] {
        grid-template-columns: var(--gtc#{$breakpoint})
    }

    [style*="--gtr#{$breakpoint}:"] {
        grid-template-rows: var(--gtr#{$breakpoint})
    }
}