@mixin mixin-margin($breakpoint: null) {

    @for $i from 0 through 30 {
        $spacer: nth($spacers, $i + 1);

        .m-#{$i}#{$breakpoint} {
            margin: #{$spacer};
        }

        .mt-#{$i}#{$breakpoint},
        .my-#{$i}#{$breakpoint} {
            margin-top: #{$spacer};
        }

        .mr-#{$i}#{$breakpoint},
        .mx-#{$i}#{$breakpoint} {
            margin-right: #{$spacer};
        }

        .mb-#{$i}#{$breakpoint},
        .my-#{$i}#{$breakpoint} {
            margin-bottom: #{$spacer};
        }

        .ml-#{$i}#{$breakpoint},
        .mx-#{$i}#{$breakpoint} {
            margin-left: #{$spacer};
        }

        .mt-n#{$i}#{$breakpoint} {
            margin-top: -#{$spacer};
        }

        .mr-n#{$i}#{$breakpoint} {
            margin-right: -#{$spacer};
        }

        .mb-n#{$i}#{$breakpoint} {
            margin-bottom: -#{$spacer};
        }

        .ml-n#{$i}#{$breakpoint} {
            margin-left: -#{$spacer};
        }
    }

    .m-auto#{$breakpoint} {
        margin: auto
    }

    .mt-auto#{$breakpoint},
    .my-auto#{$breakpoint} {
        margin-top: auto
    }

    .mr-auto#{$breakpoint},
    .mx-auto#{$breakpoint} {
        margin-right: auto
    }

    .mb-auto#{$breakpoint},
    .my-auto#{$breakpoint} {
        margin-bottom: auto
    }

    .ml-auto#{$breakpoint},
    .mx-auto#{$breakpoint} {
        margin-left: auto
    }

    .mx-child-0#{$breakpoint} > :first-child {
        margin-left: 0;
    }

    .mx-child-0#{$breakpoint} > :last-child {
        margin-right: 0;
    }

    .my-child-0#{$breakpoint} > :first-child {
        margin-top: 0;
    }

    .my-child-0#{$breakpoint} > :last-child {
        margin-bottom: 0;
    }
}