@mixin mixin-order($breakpoint: null) {

    .order-first#{$breakpoint} {
        order: -9999;
    }

    .order-last#{$breakpoint} {
        order: 9999;
    }

    @for $i from 0 through 12 {
        .order-#{$i}#{$breakpoint} {
            order: #{$i};
        }
    }
}