@mixin mixin-padding($breakpoint: null) {

    @for $i from 0 through 30 {
        $spacer: nth($spacers, $i + 1);

        .p-#{$i}#{$breakpoint} {
            padding: #{$spacer};
        }

        .pt-#{$i}#{$breakpoint},
        .py-#{$i}#{$breakpoint} {
            padding-top: #{$spacer};
        }

        .pr-#{$i}#{$breakpoint},
        .px-#{$i}#{$breakpoint} {
            padding-right: #{$spacer};
        }

        .pb-#{$i}#{$breakpoint},
        .py-#{$i}#{$breakpoint} {
            padding-bottom: #{$spacer};
        }

        .pl-#{$i}#{$breakpoint},
        .px-#{$i}#{$breakpoint} {
            padding-left: #{$spacer};
        }
    }
}