@mixin mixin-text-class() {

    @each $key, $value in $heading {
        h#{$key} {
            font-size: #{$value}rem
        }
    }

    big, .big {
        font-size: 120%;
        font-weight: 400
    }

    small, .small {
        font-size: 80%;
        font-weight: 400
    }

    .bold {
        font-weight: bold;
    }

    .normal {
        font-weight: normal;
    }

    .italic {
        font-style: italic;
    }

    .truncate {
        flex: 1;
        width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .underline {
        text-decoration: underline;
        text-underline-offset: 0.25em;
    }

    .linethrough {
        text-decoration: line-through;
    }

    .lowercase {
        text-transform: lowercase;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .capitalize {
        text-transform: capitalize;
    }

    .gradient {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}