@mixin mixin-width($breakpoint: null) {

    @each $name, $value in (0:0px, px:1px, auto:auto, full:100%, screen:100vw, min:min-content, max:max-content, fit:fit-content) {
        .w-#{$name}#{$breakpoint} {
            width: #{$value}
        }
    }

    @for $i from 0 through 40 {
        $spacer: nth($spacers, $i + 1);
        .w-#{$i}#{$breakpoint} {
            width: #{$spacer};
        }
    }

    @each $name, $value in $percentage {
        .w-#{$name}#{$breakpoint} {
            width: #{$value};
        }
    }

    .w-expand-screen#{$breakpoint} {
        width: calc(100vw - var(--scrollbar-width, 0px) / 2);
        margin-left: calc((100% - 100vw) / 2)
    }

    .w-expand-right#{$breakpoint} {
        width: calc(100vw - (100vw - 100%) / 2)
    }
}