:root {
    --white: #fff;
    --black: #000;

    --primary: #{$primary-color};
    @for $i from 1 through 20 {
        --primary-#{$i}: #{rgba-to-hex(fade-out($primary-color, $i * 5 / 100))};
    }

    --secondary: #{$secondary-color};
    @for $i from 1 through 20 {
        --secondary-#{$i}: #{rgba-to-hex(fade-out($secondary-color, $i * 5 / 100))};
    }

    --mix: #{mix($bg-color, $text-color, 0)};
    @for $i from 1 through 40 {
        --mix-#{$i}: #{mix($bg-color, $text-color, $i * 2.5)};
    }

    @for $i from 0 through 19 {
        $j: $i * 5;
        --alpha-#{$j}: #{fade-out($mix-color, (100 - $j) / 100)};
        //--mixa-#{$j}: #{fade-out($mix-color, (100 - $j) / 100)};
    }

    @for $i from 0 through 19 {
        $j: $i * 5;
        --bg-alpha-#{$j}: #{fade-out($bg-color, (100 - $j) / 100)};
        //--bga-#{$j}: #{fade-out($bg-color, (100 - $j) / 100)};
    }

    //$yellow-color: #e67700;
    //--yellow: #{$yellow-color};
    //@for $i from 1 through 9 {
    //    --yellow-#{$i}: #{rgba-to-hex(fade-out($yellow-color, $i * 9 / 100))};
    //}

    --link-color: var(--mix);
    --link-hover-color: var(--primary);
    --link-active-color: var(--primary);
    --link-active-bgcolor: var(--primary-16);

    @for $i from 0 through 30 {
        --font-#{$i}: #{nth($font-sizes, $i + 1)};
    }

    @for $i from 0 through 30 {
        --space-#{$i}: #{nth($spacers, $i + 1)};
    }

    @each $name, $value in $breakpoints {
        --width-#{$name}: #{$value};
    }

    @each $name, $value in $percentage {
        --width-#{$name}: #{$value};
    }

    --font-family: '#{$root-font-family}';
}