:root {
    --white: #fff;
    --black: #000;

    --prim: #{$prim-color};
    @for $i from 1 through 20 {
        --prim-#{$i}: #{rgba-to-hex(fade-out($prim-color, calc($i * 5 / 100)))};
    }

    --secd: #{$secd-color};
    @for $i from 1 through 20 {
        --secd-#{$i}: #{rgba-to-hex(fade-out($secd-color, calc($i * 5 / 100)))};
    }

    --mix: #{$mix-color};
    @for $i from 1 through 40 {
        --mix-#{$i}: #{rgba-to-hex(fade-out($mix-color, calc($i * 2.5 / 100)))};
    }

    @for $i from 1 through 20 {
        --mia-#{$i}: #{fade-out($mix-color, calc($i * 5 / 100))};
    }

    @for $i from 1 through 20 {
        --bga-#{$i}: #{fade-out($bg-color, calc($i * 5 / 100))};
    }

    //$yellow-color: #e67700;
    //--yellow: #{$yellow-color};
    //@for $i from 1 through 9 {
    //    --yellow-#{$i}: #{rgba-to-hex(fade-out($yellow-color, calc($i * 9 / 100)))};
    //}

    @for $i from 0 through 30 {
        --font-#{$i}: #{nth($font-sizes, $i + 1)};
    }

    @for $i from 0 through 30 {
        --space-#{$i}: #{nth($spacers, $i + 1)};
    }

    @each $name, $value in $breakpoints {
        --width-#{$name}: #{$value};
    }

    @each $name, $value in $percentage {
        --width-#{$name}: #{$value};
    }

    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', 'Helvetica Neue', sans-serif;
}