.table {
    width: 100%;
}

.table thead th {
    white-space: nowrap;
    vertical-align: bottom;
}

.table th,
.table td {
    vertical-align: top;
}

.table-lg th,
.table-lg td {
    padding: .75rem 1rem;
}

.table-md th,
.table-md td {
    padding: .5rem .75rem;
}

.table-sm th,
.table-sm td {
    padding: .25rem .5rem;
}

.table-hover tbody tr:hover {
    background-color: var(--mix-39);
}

.table-border thead th {
    border-bottom: 2px solid var(--mix-35);
}

.table-border tbody td {
    border-bottom: 1px solid var(--mix-35);
}

.table-field th,
.table-field td {
    border: 1px solid var(--mix-35);
}

.table-stripe tbody tr:nth-of-type(odd) {
    background-color: var(--mix-38);
}
