$container-spacer: 1rem;

// 响应式容器断点
$breakpoints: (
    sm: calc(560px - $container-spacer * 2),
    md: calc(768px - $container-spacer * 2),
    lg: calc(1024px - $container-spacer * 2),
    xl: calc(1280px - $container-spacer * 2),
    //2xl: calc(1440px - $container-spacer * 2),
    //3xl: calc(1680px - $container-spacer * 2)
);

// 默认容器断点
$breakpoint: null !default;

// grid 最大列数
$grid-columns: 12;

// 主题色
$prim-color: #FBA65E;
$secd-color: #2281E0;
$text-color: #111;
$bg-color: #fff;
$mix-color: mix($bg-color, $text-color, 0%);

// 标题大小
$heading: (1:2.25, 2:2, 3:1.75, 4:1.5, 5:1.25, 6:1);

// 字体大小（px to rem）
$font-sizes: px-to-rem((0, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 80, 96, 112, 128, 144, 160, 176));

// 间距或宽度（px to rem）
$spacers: px-to-rem((0, 1, 2, 4, 6, 8, 10, 12, 14, 16, 20, 24, 28, 32, 36, 40, 44, 48, 56, 64, 80, 96, 112, 128, 144, 160, 176, 192, 208, 224, 240, 256, 288, 320, 352, 384/*, 416, 448, 480, 512, 544, 576, 640, 704, 768, 832, 896, 960, 1024*/));

// 宽度百分比
$percentage: (
    1\/2: 50%,
    1\/3: 33.333333%,
    2\/3: 66.666667%,
    1\/4: 25%,
    2\/4: 50%,
    3\/4: 75%,
    1\/5: 20%,
    2\/5: 40%,
    3\/5: 60%,
    4\/5: 80%,
    1\/6: 16.666667%,
    2\/6: 33.333333%,
    3\/6: 50%,
    4\/6: 66.666667%,
    5\/6: 83.333333%,
    1\/12: 8.333333%,
    2\/12: 16.666667%,
    3\/12: 25%,
    4\/12: 33.333333%,
    5\/12: 41.666667%,
    6\/12: 50%,
    7\/12: 58.333333%,
    8\/12: 66.666667%,
    9\/12: 75%,
    10\/12: 83.333333%,
    11\/12: 91.666667%,
);

// @debug $font-sizes;
// @debug rem-to-px((0, 0.5625, 0.625, 0.6875, 0.75, 0.8125, 0.875, 0.9375, 1, 1.0625, 1.125, 1.25, 1.375, 1.5, 1.625, 1.75, 1.875, 2, 2.125, 2.25, 2.5, 2.75, 3, 3.25, 3.5, 3.75, 4, 4.25, 4.5, 5, 6, 7, 8, 9, 10, 11));
