$root-font-size: 16;
$root-font-family: 'system-ui, -apple-system, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;';
$primary-color: #2B2B2B;
$secondary-color: #6F767E;
$text-color: #2B2B2B;
$bg-color: #FFFFFF;